@page
@model MeuPortfolio.Pages.SobreModel
@{
    ViewData["Title"] = "Sobre mim";
}

<div class="container">
 <h1>Sobre Mim</h1>
 <p>
  Olá! Meu nome é Jamersom Silva, sou desenvolvedor BackEnd freelancer. 
  Atualmente, estou envolvido em dois projetos desafiadores: para pequenos empreendedores
 e um aplicativo mobile para controle de estoque.
 Sou apaixonado por criar soluções tecnológicas que resolvem problemas reais
 e estou sempre buscando aprender e me atualizar sobre as últimas tendências da área. 
 No momento, estou em busca do meu primeiro emprego formal na área de tecnologia, 
 onde possa contribuir com meus conhecimentos e continuar crescendo profissionalmente.

</p>

<p>
        Sou formado em analise e desenvolvimento de sistemas na faculdade estácio, alem da faculdade tenho cursos com certificações. 

        CURSOS: Codamer: (python/django/flask/Docker)
                Udemy: (JavaScript, html, css)
                Dio: (Machine Learning)
    </p>
    <h2>Habilidades Técnicas</h2>
    <ul>
        <li>Linguagens/Frameworks: (python, django, Vue.js, JavaScript, css, html, C#, .NET, ReactNative, ReatJs)</li>
        <li>Banco de Dados: (PostgreSQL, MongoDB )</li>
        <li>Tecnologia de Nuvem: (AWS, Azure, Google Cloud),</li>
        <li>metodologia: (Scrum) </li>
    </ul>
</div>